* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

nav{
    position: sticky;
    top: 0px;
}

#navegadorPrincipal {
    background-color: #F9F9F6;
    list-style: none;
    text-align: center;
}

.navegadorPrincipal_items{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 20px;
}

.navegadorPrincipal_items img {
    width: 125px;
    height: auto;
}

.navegadorPrincipal_items a {
    text-decoration: none;
    color: #F57C00;
    font-size: 20px;
    font-weight: bold;
}

.navegadorPrincipal_items a:hover {
    color: #2E3A3F;
}

#encabezado {
    height: 300px;
    background-image: url("../img/fondo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#encabezado h1 {
    color: #F9F9F6;
    padding: 40px 0px 40px 50px;
}

#encabezado h3 {
    color: #F9F9F6;
    margin-left: 50px;
}

#logos_redes {
    padding-left: 50px;
}

#logos_redes li {
    display: inline-block;
    padding: 50px 20px 10px 0px;

}

#logos_redes li img {
    width: 40px;
    height: auto;
}

#SecCompleta {
    background-color: #F9F9F6;
    padding: 50px;
}

#mainFoto{
    width: 250px;
    height: auto;
    border-radius: 200px;
    float: left;
}

#SecSobreMi{
    padding-left: 350px;
}

#h2SecSobreMi{
    padding-bottom: 30px;
    color: #F57C00;
}

#pSecSobreMi{
    padding-bottom: 70px;
    text-align: justify;
    color: #2E3A3F;
}

#BotonSecSobreMi{
    color: #2E3A3F;
    background-color: #F57C00;
    width: 200px;
    height: 40px;
    border: 1px #2E3A3F solid;
    border-radius: 10px;
    font-weight: bolder;
}

#BotonSecSobreMi:hover{
    color: #F57C00;
    background-color: #2E3A3F;
}