*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Grid Double";
}

main {
    background-color: chocolate;
}

h1 {
    color: blue;
}

#parrafo1 {
    color: aqua;
}

.elementosLista {
    list-style: none;
    color: red;
}

h1, #parrafo1 {
    text-align: center;
}



